.fill-screen-1 {
  height: 100vh;
  width: 100%;
  display: block;
  left: 0;
  background: rgba(2, 16, 24, 0.829);
  box-sizing: border-box;
  overflow: auto;
  background-image: url(/src/assets/img/undraw_connected_world_wuay.svg);
  background-size: 120% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
}

.fill-screen-2 {
  height: 60vh;
  width: 100%;
  display: block;
  left: 0;
  background: rgb(182, 179, 177);
  box-sizing: border-box;
  overflow: auto;
  background-image: url("../../assets/img/Cartoon\ v2");
  background-repeat: no-repeat;
  background-attachment: absolute;
  background-position: bottom;
  background-size: 100vh;
}

.fill-screen-3 {
  height: 50vh;
  width: 100%;
  display: block;
  left: 0;
  background: rgba(2, 16, 24, 0.829);
  box-sizing: border-box;
  overflow: auto;
}

.fill-screen-3 h1{
  color: white;
}

.fill-screen-4 {
  height: 100vh;
  width: 100%;
  display: block;
  left: 0;
  background: rgb(182, 179, 177);
  box-sizing: border-box;
  overflow: auto;
}

.home-content .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.home-content .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.home-content .left-column {
  background-color: orange;
  height: 20px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.home-content .right-column {
  background-color: orange;
  height: 20px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.scroll-down {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  left: 50%;
  bottom: 10%;
  cursor: pointer;
}

.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  border: 2px solid black;
  height: 60px;
  width: 60px;
  transform: translate(-50%, -50%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1.8s ease-in-out infinite;
}

@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  84% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}

.home-container {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.home-title {
  margin-top: 40%;
  background-color: rgba(201, 196, 196, 0.952);
  padding: 35px;
  border-radius: 10px;
}

#explore {
  text-decoration: none;
  height: 45px;
  width: 85px;
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 4px;
  color: black;
  background-color: rgba(5, 121, 5, 0.562);
}

#explore:hover {
  background-color: rgba(2, 63, 2, 0.562);
  transition: 0.25s ease-in-out;
}

.home-content {
  margin-top: 8vh;
}

h1 {
  text-align: center;
  text-emphasis: bold;
}