.contact-main-container {
  height: 60vh;
  width: 100%;
  display: block;
  left: 0;
  background: white;
  box-sizing: border-box;
  overflow: auto;
}

.contact-container {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.contact-title {
  margin-top: 120px;
}
