.fill-screen-1 {
  height: 100vh;
  width: 100%;
  display: block;
  left: 0;
  background: #b6b3b091;
  box-sizing: border-box;
  overflow: auto;
}

.fill-screen-2 {
  height: 100vh;
  width: 100%;
  display: block;
  left: 0;
  background: rgba(2, 16, 24, 0.829);
  box-sizing: border-box;
  overflow: auto;
}

.fill-screen-3 {
  height: 100vh;
  width: 100%;
  display: block;
  left: 0;
  background: #b6b3b091;
  box-sizing: border-box;
  overflow: auto;
}

.fill-screen-4 {
  height: 100vh;
  width: 100%;
  display: block;
  left: 0;
  background: rgba(2, 16, 24, 0.829);
  box-sizing: border-box;
  overflow: auto;
}
