* {
  text-decoration: none;
}

.play-main-container {
  position: relative;
  width: 100%;
  display: block;
  left: 0;
  background: white;
  box-sizing: border-box;
  overflow: auto;
}

.play-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;   
  width: 800px;
}

.play-title {
  margin-top: 120px;
}

.category-box {
  position: block;
  margin: 2%;
  margin-left: 35px;
  margin-right: 35px;
  padding: 5px;
  height: 280px;
  width: 180px;
  border-radius: 40px;
  float: left;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.541);
  border: 3px solid #01161e;
  transition: all 0.3s ease-in;
  color: black;
}

.category-box:hover {
  color: black;
  text-decoration: none;
  border: 3px solid #da9030;
}

.category-box-title {
  height: 50px;
}

.category-container{
  margin-top: 30px;
}

.category-box-progress {
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 140px;
  bottom: 10px;
}

.category-box-description {
  height: 55px;
  width: 165px;
  bottom: 10px;
}

.category-box-image {
  height: 100px;
  width: 165px;
  bottom: 10px;
}
